{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}


{% block body %}

    <h1>Edit Page</h1>
    <form action="{% url 'save_edit' entry_name=edit_name%}" method="post">
        {% csrf_token %}
        <div>
            <h5 style="margin-top: 25px;">Edit "{{ edit_name }}" Page Content</h5>
            <textarea name="content" style="height: 40vh; margin-top: 5px;">{{ curr_content }}</textarea>
        </div>
        <input type="submit" style="margin-top: 10px;" value="Save"></input>
    </form>
{% endblock %}